<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SymBNB - {% block title %}Bienvenue!{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/fontawesome.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
         {{ include('/admin/partials/header.html.twig') }}
            {# <div class="container"> #}

                {{ include('/partials/_flash_message.html.twig') }}
                {% block body %}{% endblock %}
            {# </div> #}
        
        {{ include('/admin/partials/footer.html.twig') }}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
