{% extends "base.html.twig" %}

{% block title 'Edition d\'une annonce' %}

{% form_theme form 'partials/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Edition d'une nouvelle annonce</h1>
            {{ form_start(form) }}

                {{ form_widget(form) }}
                
                <button type="submit" class="btn btn-primary btn-lg">Modifier l'annonce</button>
            
            {{ form_end(form) }}
            
            {# {{form(form)}} #}
    </div>
{% endblock %}

{# Code JS pour l'action du boutton ajout image #}
{% block javascripts %}
    <script src="/js/ad.js"></script>
{% endblock %}